.list {
  li {
    margin-bottom: 10px;

    &::before {
      content: "";
      background-image: url("/images/train.svg");
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 10px;
    }

    .delete {
      background-image: url("/images/delete.svg");
      width: 20px;
      height: 20px;
      display: inline-block;
      cursor: pointer;
      margin-right: 10px;
    }

    .edit {
      background-image: url("/images/edit.svg");
      width: 20px;
      height: 20px;
      display: inline-block;
      cursor: pointer;
    }
  }
}
